<!DOCTYPE html>
<html>
<head th:fragment="head">
<meta charset="UTF-8" />
<title>House manager app</title>

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css" />


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar">
		<a class="navbar-brand" th:href="@{/}">House Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/reports}">Reports </a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Operations </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div>Required CRUD</div>
						<a class="dropdown-item" th:href="@{/companies}">Companies</a> 
						<a class="dropdown-item" th:href="@{/buildings}">Buildings</a>
						<a class="dropdown-item" th:href="@{/owners}">Owners</a> 
						<a class="dropdown-item" th:href="@{/occupants}">Occupants</a>
						<a class="dropdown-item" th:href="@{/employees}">Employees</a>
						<div class="dropdown-divider"></div>
						<div>Additional CRUD</div>
						<a class="dropdown-item" th:href="@{/apartments}">Apartments</a>
						<div class="dropdown-divider"></div>
						<div>Required operations</div>
						<a class="dropdown-item" th:href="@{/service-contract}">Service contract</a>
						<a class="dropdown-item" th:href="@{/fee-accruals}">Fee accruals</a> 
						<a class="dropdown-item" th:href="@{/fee-payments}">Fee payments</a>
				
					</div></li>
			</ul>
	<!-- 		<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
	</nav>


</body>

</html>