<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<div th:replace="fragments/header :: navbar" />

<body>

	<main>
	<div class="container general-list-view">
	
	<h3>Add a new occupant</h3>


	 <form action="#" class="w-50" th:action="@{/occupants/add}" th:object="${occupant}" method="post">
        <div class="form-group">
        <p>Age: <input type="text" class="form-control" th:field="*{age}" /></p>
        <p>Name: <input type="text" class="form-control" th:field="*{name}" /></p>
       	<label id="Apartment">Select apartment</label>
        <select id="Apartment" class="form-control" th:field="*{apartment}">
		    <option th:each="apartment : ${apartments}" th:value="${apartment.id}" th:text="${apartment.building.address} + ' ,floor: ' + ${apartment.floor} + ' ,id: ' + ${apartment.id}"></option>
		</select>
	

        <p><input type="submit" class="btn btn-secondary" value="Add" /></p>
        </div>
    </form>

	</div>
	</main>
	<hr>

	<th:block th:replace="fragments/footer :: footer" />
</body>
</html>